.breadcrumb{
    margin-top: 100px;
}

.button {
  color: rgba(252, 176, 126);
  background-color: transparent;
  border-radius: none;
  border: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.arrow {
  color: rgba(222, 226, 214);
  font-weight: 700;
  height: 1.2rem;
  width: auto;
}

.lastTitle {
  font-weight: 700;
}